body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: absolute;
    z-index: 1;
    background-color: #000f29;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.3s;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
}

.navBtn {
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.closebtn {
    display: none;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.mobileMain {
    font-size: 30px;
    cursor: pointer
}

.navMobileBtn {
    display: none;
    color: white;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

.content {
    background-color: lightgrey;
    padding-top: 30px;
}

#Purchase {
    background-color: yellow;
    margin-top: 20px;
}

@media screen and (max-width: 768px) and (min-width: 426px) {
    .sidenav a {
        font-size: small;
    }
}

@media screen and (max-width: 425px) {
    .sidenav a {
        font-size: large;
    }

    .sidenav .closebtn {
        display: unset;
    }

    .navMobileBtn {
        display: unset;
    }

    .sidenav {
        width: 0%;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}