table td, table th {
    text-align: center;
    padding: 5px;
    /*font-weight: 20;*/
}

td {
    border-left: solid 1px black;
    border-right: solid 1px black;
}

main {
    background-color: #2d2d2d;
    color: lawngreen;
}

#hours {
    text-align: center;
}

.collapse {
    text-align: left;
}

.rules {
    text-align: left;
}

.plus {
    font-size: large;
}

h1 {
    margin-top: 0;
    padding-top: 20px;
}

h1, h3 {
    color: steelblue;
}

#location {
    text-align: center;

}

iframe {
    float: right;
}

