#footer {
    text-align: center;
    background-color: transparent;
}
#footer p {
    background: transparent;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

main {
    position: relative;
    min-height: 500px;
    background-color: lightgrey;
}

body {
    background: transparent;
}
header {
    background: white;
}
html {
    /*background-color: #3370b6;*/
    background-image: url("../Resources/mainBanner.jpg");
    background-repeat: repeat-y;
}
.navbar-inverse {
    background-color: rgba(70,70,70,0.5);
    border-color: rgba(70,70,70,0.5);
}
.navbar-inverse .navbar-nav>li>a {
    color: black;
}

.col-xs-6 {
    padding-left: 0;
}

#login .col-xs-12, #forgotPassForm .col-xs-12, #resetPassForm .col-xs-12 {
    padding-left: 0;
}

#bannerSec {
    height: 200px;
    background-image: url("../Resources/mainBanner.jpg");
    background-size: cover;
}
.navbar {
    margin-bottom: 0;
    position: relative;
}
.mainNavBtn {
    margin-left: 10px;
}
#indexContent {
    padding: 0;
    background-color: white;
}
#carouselCol {
    padding: 0;
}
#menuTitle{
    display: none;
    color: black;
}
.mainNavBarText {
    font-size: x-large;
}
.error {
    color: red;
}
.success {
    color: green;
}
#dob div {
    padding-left: 0;
}
#carousel {
    text-align: center;
}
#carousel h3 {
    color: red;
    font-weight: bold;
    font-family: "Courier New";
}
.carousel-caption {
    top: 0;
    bottom: auto;
}

#timer-msg {
    font-size: 18px;
    font-weight: bold;
}

#guidebook {
    position: relative;
    margin: 0 5em;
}

@media only screen and (max-width: 1024px) and (min-width: 769px){
    .mainNavBarText, .navBarText {
        font-size: medium;
    }
}
@media only screen and (max-width: 768px) and (min-width: 427px) {
    .mainNavBarText, .navBarText {
        font-size: x-small;
    }
}

@media only screen and (max-width: 426px) {
    #menuTitle {
        display: unset;
    }
    #bannerSec {
        height: unset;
    }
    #myNavbar {
        padding-left: 40px;
    }
}