#footer {
    text-align: center;
}
.navbar-inverse {
    background-color: rgba(70,70,70,0.5);
    border-color: rgba(70,70,70,0.5);
}
.navbar-inverse .navbar-nav>li>a {
    color: black;
}

.col-xs-6 {
	padding-left: 0
}