#invoice{
    margin-top: 30px;
    margin-bottom: 30px;
}
.boxIndex{
    height: unset;
    text-align: left;
    background-color: white;
    color: black;
}

.boxIndex h1{
    text-align: center;
}